<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- SCSS
        link(rel="stylesheet", href="./main.scss")
        title Project




    body
        .container


            .game-cont

                .game-info
                    .name Hangman
                    .category Category: 
                        span 

                .row
                    .hangman-drwa
                        .the-drwa
                            .stand
                            .hang
                            .rope
                            .head
                            .body
                            .hands
                            .legs
                    .letters

                .letters-guess


























        script(src="./main.js")